<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!-- Iron elements -->
<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-iconset-svg/demo/svg-sample-icons.html">

<!-- Paper elements -->
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles-classes.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/google-youtube/google-youtube.html">
<link rel="import" href="../bower_components/yasgui/yasgui.html">
<!--<link rel="import" href="../bower_components/sentiment-chart/sentiment-chart.html">-->
<link rel="import" href="../bower_components/google-chart-elk/google-chart.html">
<link rel="import" href="../bower_components/google-chart-elk/google-charter.html">
<link rel="import" href="../bower_components/material-search/material-search.html">
<link rel="import" href="../bower_components/sentiment-d3/sentiment-d3.html">
<link rel="import" href="../bower_components/entities-chart/entities-chart.html">
<link rel="import" href="../bower_components/wheel-chart/wheel-chart.html">
<link rel="import" href="../bower_components/chernoff-faces/chernoff-faces.html">
<link rel="import" href="../bower_components/tweet-chart/tweet-chart.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../bower_components/tweet-chart-football/tweet-chart.html">
<link rel="import" href="../bower_components/field-chart/field-chart.html">
<link rel="import" href="../bower_components/spider-chart/spider-chart.html">
<link rel="import" href="../bower_components/spain-chart/spain-chart1.html">
<link rel="import" href="../bower_components/spain-chart/spain-chartfilter.html">
<link rel="import" href="../bower_components/spain-chart/spain-emotion.html">
<link rel="import" href="../bower_components/liquid-fluid-d3/liquid-fluid-d3.html">
<link rel="import" href="../bower_components/liquid-fluid-d3/trending-chart.html">
<link rel="import" href="../bower_components/liquid-fluid-d3/ranking-players.html">
<link rel="import" href="../bower_components/liquid-fluid-d3/ranking-teams.html">
<link rel="import" href="../bower_components/liquid-fluid-d3/top-teams.html">
<link rel="import" href="../bower_components/liquid-fluid-d3/top-players.html">
<link rel="import" href="../bower_components/paper-toggle-button-football/paper-toggle-button.html">
<link rel="import" href="../bower_components/aspect-chart/aspect-chart.html">
<link rel="import" href="../bower_components/wheel-aspects/wheel-aspects.html">
<link rel="import" href="../bower_components/spider-aspects/spider-aspects.html">
<link rel="import" href="../bower_components/spider-chart-multiple-newspaper/spider-chart-multiple-newspaper.html">
<link rel="import" href="../bower_components/spider-chart-multiple-team/spider-chart-multiple-team.html">
<link rel="import" href="../bower_components/spider-chart-multiple-team-atletico/spider-chart-multiple-team-atletico.html">
<link rel="import" href="../bower_components/news-chart/news-chart.html">
<link rel="import" href="../bower_components/trend-chart-multiple-as/trend-chart-multiple-as.html">
<link rel="import" href="../bower_components/trend-chart-multiple-atletico/trend-chart-multiple-atletico.html">
<link rel="import" href="../bower_components/trend-chart-multiple-barca/trend-chart-multiple-barca.html">
<link rel="import" href="../bower_components/trend-chart-multiple-madrid/trend-chart-multiple-madrid.html">
<link rel="import" href="../bower_components/trend-chart-multiple-marca/trend-chart-multiple-marca.html">
<link rel="import" href="../bower_components/trend-chart-multiple-md/trend-chart-multiple-md.html">
<link rel="import" href="../bower_components/trend-chart-multiple-sport/trend-chart-multiple-sport.html">
<!-- Uncomment next block to enable Service Worker Support (2/2) -->
<!--
<link rel="import" href="../bower_components/platinum-sw/platinum-sw-cache.html">
<link rel="import" href="../bower_components/platinum-sw/platinum-sw-register.html">
-->
<!-- IMPORT FOR DEMO -->
<link rel="import" href="../bower_components/mydemocomponent/mydemocomponent.html">
<link rel="import" href="my-dashboard/my-dashboard.html">


<!-- Configure your routes here -->
<link rel="import" href="routing.html">

<!-- Add your elements here -->
<link rel="import" href="../styles/app-theme.html">
<link rel="import" href="my-greeting/my-greeting.html">
<link rel="import" href="dashboard-dbpedia/dashboard-dbpedia.html">
<!--<link rel="import" href="dashboard-twitter/dashboard-twitter.html">
<link rel="import" href="dashboard-slovakia/dashboard-slovakia.html">-->
<link rel="import" href="dashboard-tourpedia/dashboard-tourpedia.html">
<link rel="import" href="dashboard-aspects/dashboard-aspects.html">
<link rel="import" href="dashboard-ftt/dashboard-ftt.html">
<link rel="import" href="dashboard-football/dashboard-football.html">
<link rel="import" href="help-panel/help-panel.html">
<link rel="import" href="gsicrawler-panel/floating-menu/floating-menu.html">
<link rel="import" href="gsicrawler-panel/gsicrawler-greeting.html">
<link rel="import" href="gsicrawler-panel/my-list/my-list.html">
<link rel="import" href="dashboard-teams/dashboard-teams.html">
<link rel="import" href="dashboard-newspaper/dashboard-newspaper.html">
<link rel="import" href="gsicrawler-panel/font-awesome.html">
<link rel="import" href="gsicrawler-panel/new-analysis-dialog.html">
<link rel="import" href="gsicrawler-panel/new-analysis-dialog-nourl.html">
<link rel="import" href="gsicrawler-panel/analysis-card/analysis-card.html">
<link rel="import" href="admin-console/admin-console.html">
