<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/material-search/material-search.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/google-chart-elk/google-chart.html">
<link rel="import" href="../../bower_components/google-chart-elk/google-charter.html">
<link rel="import" href="../../bower_components/sentiment-d3/sentiment-d3.html">
<link rel="import" href="../../bower_components/field-chart/field-chart.html">
<link rel="import" href="../../bower_components/liquid-fluid-d3/liquid-fluid-d3.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/yasgui/yasgui.html">


<dom-module id="my-dashboard">


  <template>

  <my-democomponent saludo = "Hello gSI!">
  </my-democomponent>
  <br><br>
  <google-chart
        query="{{query}}"
        index="footballdata"
        subindex="tweet"
        field="sentiment"
        fields='["sentiment", "text"]'
        host='{{endpoint}}'
        id='pie-chart1'
        extra-id='pie-chart1'
        type='pie'
        filters="{{filters}}"
        icon='face'
        param="{{param}}"
        options='{"title": "Count of tweets with different sentiment"}'
        cols='[{"label": "Sentiment", "type": "string"},{"label": "Count", "type": "number"}]'
        rows='[ ["Jan", 31],["Feb", 28],["Mar", 31],["Apr", 30],["May", 31],["Jun", 30] ]'>
  </google-chart>

  </div>
    
    
      
  </template>

  <script>
    Polymer({
      is: 'my-dashboard',
      properties: {
     

      }

    });
  </script>

</dom-module>
